<main id="detail">
  <!-- 섹션1 -->
  <section>
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>투자 정보</h1>
        <h4>주주의 가치를 높이는 기업, 사회의 가치를 지키는 기업</h4>
      </div>
    </div>
  </section>
  <section>
    <form action="/">
      <div class="section2__wrap ko w1200">
        <div class="section2__title ko">
          <input type="hidden" name="id" value="<%= row.id %>" />
          <h1>공고</h1>
        </div>
        <div class="detail__title">
          <h3><%= row.title %></h3>
        </div>
        <div class="detail__date">
          <p>관리자 | <%= row.create_time %> |</p>
        </div>
        <div class="detail__content">
          <p><%= row.content %></p>
          <p class="file">첨부파일 다운로드 <img src="img/save.png" alt="" /></p>
        </div>
        <div class="reWrite">
          <a href="/update_notice?id=<%= row.id %> ">
            <p>수정</p>
          </a>
          <a href="/delete_notice?id=<%= row.id %> ">
            <p>삭제</p>
          </a>
        </div>
        <div class="goList">
          <a href="/notice">
            <p>목록으로</p>
          </a>
        </div>
      </div>
    </form>
  </section>
</main>
