<!--섹션1-->
<div class="section section-1 aos-init">
  <section class="section1">
    <div class="bgwrap">
      <div class="bgimg"></div>
      <!--섹션1 타이들 부분-->
      <div class="sec1_title">
        <h1 class="en">
          <span class="pointC">
            IMPLEMENTING A SUSTAINABLE,<br />
            ECO-FRIENDLY
          </span>
          INFRASTRUCTURE<br />
          FOR HUMAN AND NATURE
        </h1>
        <p class="ko">인간과 자연이 함께 <span class="pointC">지속가능한 친환경 인프라</span>를 구축합니다</p>
      </div>
      <div id="scroll-downs">
        <span>scroll</span>
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section section-2 aos-init">
  <!--섹션2 WHAT we offer-->
  <section class="section2">
    <div class="section2_wrap w1200">
      <!--섹션 2 타이틀-->
      <div class="section2Title ko">
        <h1 class="en" data-aos="fade-up" data-aos-duration="1500">WHAT WE OFFER</h1>
        <p data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">최고의 기술과 경영 역량을 바탕으로 인류의 <span class="pointC">보다 나은 생활</span>을 선도합니다</p>
      </div>
      <!--섹션 2 컨텐츠 -->
      <div class="section2Cont">
        <div class="article_wrap" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
          <article class="s2C_img1">
            <!--섹션 2 컨텐츠에 있는 타이들 부분-->
            <div class="section2Cont_title ko">
              <h1 class="en">Maintenance</h1>
              <span></span>
              <h6>글로벌 중전기 시장을 선도하는 핵심사업 부문</h6>
              <!-- 더보기-->
              <div class="sec2_more"></div>
            </div>
          </article>
        </div>
        <div class="article_wrap" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
          <article class="s2C_img2">
            <div class="section2Cont_title ko">
              <h1 class="en">Solution</h1>
              <span></span>
              <h6>최고의 효율을 제공하는 최상의 솔루션</h6>
              <div class="sec2_more"></div>
            </div>
          </article>
        </div>
        <div class="article_wrap" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="800">
          <article class="s2C_img3">
            <div class="section2Cont_title ko">
              <h1 class="en">Architecture</h1>
              <span></span>
              <h6>
                효성중공업만의 특화된 기술력이<br />
                아름다운 도시를 완성합니다.
              </h6>
              <div class="sec2_more"></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="section section-3 aos-init">
  <!--섹션3 패밀리사이트-->
  <section class="section3">
    <!--섹션3 배경화면-->
    <div class="section3_bg">
      <div class="section3_wrap w1200">
        <!--섹션 3 타이틀 -->
        <div class="section3Title en">
          <h4 class="pointC en" data-aos="fade-up" data-aos-duration="1500">Alliances</h4>
          <h1 class="ko" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
            폭넓은 얼라이언스를 기반으로<br />
            <span class="pointC">Best-of-Breed</span> 솔루션을 제공합니다.
          </h1>
        </div>
        <!--섹션 3 컨텐츠 패밀리 사이트들이 들어가는 부분-->
        <div class="section3Cont" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <ul class="upper">
            <li>
              <a href="#">
                <img src="img/familysite1.png" alt="TNC familysite1" />
              </a>
            </li>
            <li class="m0">
              <a href="#">
                <img src="img/familysite2.png" alt="TNC familysite2" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/familysite3.png" alt="TNC familysite3" />
              </a>
            </li>
            <li class="m9">
              <a href="#">
                <img src="img/familysite4.png" alt="TNC familysite4" />
              </a>
            </li>
          </ul>
          <ul class="under">
            <li>
              <a href="#">
                <img src="img/familysite5.png" alt="TNC familysite5" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/familysite6.png" alt="TNC familysite6" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/familysite7.png" alt="TNC familysite7" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/familysite8.png" alt="TNC familysite8" />
              </a>
            </li>
          </ul>
        </div>
        <!-- 모바일버젼 -->
        <div class="section3Cont_m" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="upper1">
            <ul>
              <li>
                <a href="#">
                  <img src="img/familysite1.png" alt="TNC familysite1" />
                </a>
              </li>
              <li class="m0">
                <a href="#">
                  <img src="img/familysite2.png" alt="TNC familysite2" />
                </a>
              </li>
            </ul>
          </div>
          <div class="upper2">
            <ul>
              <li>
                <a href="#">
                  <img src="img/familysite3.png" alt="TNC familysite3" />
                </a>
              </li>
              <li class="m9">
                <a href="#">
                  <img src="img/familysite4.png" alt="TNC familysite4" />
                </a>
              </li>
            </ul>
          </div>
          <div class="under1">
            <ul>
              <li>
                <a href="#">
                  <img src="img/familysite5.png" alt="TNC familysite5" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="img/familysite6.png" alt="TNC familysite6" />
                </a>
              </li>
            </ul>
          </div>
          <div class="under2">
            <ul>
              <li>
                <a href="#">
                  <img src="img/familysite7.png" alt="TNC familysite7" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="img/familysite8.png" alt="TNC familysite8" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--섹션 4-->
<div class="section section-4 aos-init">
  <section class="section4">
    <!--섹션 4 1200px로 묶는 부분-->
    <div class="section4__wrap">
      <!--뉴스 타이틀-->
      <div class="section4__title">
        <strong class="en" data-aos="fade-up" data-aos-duration="1500">NEWS</strong>
        <h5 class="ko" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">효성 중공업의 <span class="pointC">최신 소식</span>을 전해드립니다.</h5>
      </div>
      <!--뉴스박스-->
      <div class="swiper swiperMy" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
        <div class="swiper-wrapper">
          <% for(let i=0; i<rows.length; i++) { %>
          <div class="swiper-slide">
            <div class="NEWS--first NEWS_box">
              <a href="/news_detail?id=<%= rows[i].id %>">
                <div class="newsBox--img">
                  <img src="<%= rows[i].img %> " alt="" />
                </div>
                <h6><%= rows[i].create_time %></h6>
                <h1><%= rows[i].title %></h1>
                <input type="hidden" name="id" value="<%= rows[i].id %> " />
                <input type="hidden" name="content" value="<%= rows[i].content %> " />
              </a>
            </div>
          </div>
          <% }; %>
        </div>
      </div>
      <div class="section4__more" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="900">
        <a href="/news">
          <p>NEWS</p>
          <span>
            <img src="img/right_arrow_pointcolor.png" alt="" />
          </span>
        </a>
      </div>
    </div>
  </section>
</div>
<div class="section section-5 aos-init">
  <!--섹션5-->
  <section class="section5">
    <div class="section5__wrap w1200">
      <!--섹션 5 타이틀-->
      <div class="section5__title">
        <strong data-aos="fade-up" data-aos-duration="1500">
          SUSTAINABLE<br />
          MANAGEMENT
        </strong>
        <h5 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          효성중공업은 기업의 사회적 책임을 다하여<br />
          <span class="pointC">사람과 사회, 환경</span>이 공존하는 미래를 만들기 위해 노력합니다
        </h5>
      </div>
      <!--섹션 5 컨텐츠-->
      <div class="section5__content" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
        <ul>
          <a href="" class="content__wrap">
            <li>
              <div class="content--img1 C_IMG"></div>
              <div class="content--text">그린경영</div>
            </li>
          </a>
          <a href="" class="content__wrap">
            <li>
              <div class="content--img2 C_IMG"></div>
              <div class="content--text">윤리경영</div>
            </li>
          </a>
          <a href="" class="content__wrap">
            <li>
              <div class="content--img3 C_IMG"></div>
              <div class="content--text">나눔경영</div>
            </li>
          </a>
          <a href="" class="content__wrap">
            <li>
              <div class="content--img4 C_IMG"></div>
              <div class="content--text">상생경영</div>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </section>
</div>
