<main id="notice">
  <!-- 섹션1 -->
  <section>
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>투자 정보</h1>
        <h4>주주의 가치를 높이는 기업, 사회의 가치를 지키는 기업</h4>
      </div>
    </div>
  </section>
  <section>
    <div class="section2__wrap w1000">
      <div class="section2__title ko">
        <h1>공고</h1>
      </div>
      <div class="convenience">
        <div class="notice__number ko">
          <p>총 <span class="pointC">12건</span> 의 글이 등록되어 있습니다.</p>
        </div>
        <div class="notice__search ko">
          <input onkeyup="filter()" type="text" id="value" placeholder="검색어를 입력해 주세요" />
          <a href=""><img src="img/notice search.png" alt="" /></a>
        </div>
      </div>
      <div class="notice__list">
        <ul class="banner">
          <li class="NO">NO</li>
          <li class="title">제목</li>
          <li class="date">등록일자</li>
          <li class="N_file">첨부파일</li>
        </ul>
        <div id="data-container">
          <% rows.forEach((row,index)=> { %>
          <ul class="list">
            <li class="NO"><%= row.id %></li>
            <li class="title"><a href="/detail?id=<%= row.id %> "><%= row.title %></a></li>
            <li class="date"><%=row.create_time %></li>
            <input type="hidden" value="<%= row.content %> " name="content" />
            <li class="N_file">
              첨부파일<a href=""><img src="img/iconmonstr-download-19-16.png" alt="" /></a>
            </li>
          </ul>
          <% }); %>
          <div class="root--write">
            <a href="/write">
              <p>작성</p>
            </a>
          </div>
        </div>
      </div>
      <div id="pagination-container"></div>
    </div>
  </section>
</main>
